.header {
    border: 1px solid black;
    text-align: center;
}

.column-title,
.project-column-title {
    display: flex;
    gap: 15px;
}

.column-title-container {
    display: flex;
    justify-content: space-around;
}

.add-project-button,
.add-item-button,
.delete-button {
    height: 30px;
    align-self: center;
}

.project-column,
.to-do-column {
    border: 1px solid black;
}